<div class="my-nav">
  <div class="row align-items-end">
    <div class="col-sm">
      <div class="row" id="div-links">
        <div class="col-sm">
          <a class="nav-link" href="#">Ricerca Clienti</a>
        </div>
        <div class="col-sm">
          <a class="nav-link" href="#">Report</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div id="div-logo">
        <img src="../../assets/img/logo.png" class="logo" />
      </div>
    </div>

    <div class="col-sm">
      <div id="div-logout">
        <button type="button" class="btn" (click)="logout()">
          <img class="logout-img" src="../../assets/img/logout.png" />
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <nav class="navbar navbar-expand-sm bg-nav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Ricerca Clienti</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Report</a>
    </li>
  </ul>
  <ul>
    <li class="nav-item" id="nav-logout">
      <button type="button" class="btn" (click)="logout()">
        <img class="logout-img" src="../../assets/img/logout.png" />
      </button>
    </li>
  </ul>
</nav> -->
