.my-nav {
  margin-left: 5px;
  margin-right: 5px;
}

.logout-img {
  filter: invert(100%);
  width: 22px;
}

.logout-img:hover {
  filter: invert(14%) sepia(42%) saturate(7139%) hue-rotate(208deg)
    brightness(89%) contrast(94%);
}

.bg-nav {
  background-color: #4ca6a6;
  color: black;
}

.nav-link {
  text-align: left;
  color: white;
}

.nav-link:hover {
  color: rgba(8, 70, 153);
}

#nav-logout {
  text-align: right;
}

#div-logo {
  height: 110px;
  background-color: whitesmoke;
  border-radius: 40px;
  border: 12px solid #4ca6a6;
}

.logo {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#div-logout {
  float: right;

  align-content: flex-end;
}
