<div *ngIf="this.confermato">
  <h5>ATTENZIONE.</h5>
  <p>
    L'anagrafica del cliente è stata confermata
    <span *ngIf="this.success"> correttamente</span>.
    <br />
    Il codice univoco assegnato è {{ this.customer.codice }}
  </p>
</div>

<table *ngIf="!this.confermato">
  <tbody>
    <tr>
      <td>NAG:</td>
      <td>{{ customer.nag }}</td>
    </tr>
    <tr class="blank_row"></tr>
    <tr>
      <td>Data di nascita:</td>
      <td>{{ customer.dataNascita }}</td>
    </tr>
    <tr class="blank_row"></tr>
    <tr *ngFor="let item of items">
      <td class="table-modal-label">
        {{ item.label + ":" }}
      </td>
      <td class="table-modal-value">{{ renderCell(customer, item) }}</td>
      <td class="table-modal-checkbox">
        <input
          (change)="getToggleCheckbox(item)"
          type="checkbox"
          [disabled]="disableCheckboxes"
        />
      </td>
    </tr>
    <tr class="blank_row"></tr>
  </tbody>
</table>
