#page {
  height: 100%;
  width: 100%;
  background-color: teal;
}

#navbar {
  background-color: teal;
}

#search-form {
  margin-left: 20px;
  margin-right: 20px;

  padding: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
}

#customer-table {
  margin: 20px;
}

#pagination-nav {
  margin-top: 20px;
}

.page-item.active {
  background-color: rgba(8, 70, 153);
}
