table {
  background-color: whitesmoke;
  border: 1px solid rgba(79, 109, 122);
  width: 100%;
}

table th {
  background-color: #006699;
  border: 1px solid teal;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#detailsButton {
  text-align: center;
}

td {
  border: 1px solid teal;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.img-details {
  width: 20px;
}
