<table>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        className="th-customer-table"
        key="column.path || column.key"
      >
        {{ column.label }}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td *ngFor="let column of columns">
        {{ this.renderCell(customer, column) }}
      </td>
      <td id="detailsButton">
        <button (click)="onDetailsClick(customer)">
          <img
            class="img-details"
            src="{{
              getButtonImage(
                customer.confermato || customer.id === customerToRefresh
              )
            }}"
          />
        </button>
      </td>
    </tr>
  </tbody>
</table>
